/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}
.moveover>.content {
    transform: translateX(0px);
}
nav {
    background-color: transparent;
    position: static;
    transform: translateX(0);
    width: auto;
    ul{
        display: flex;
        margin-left: $gutter; 
    }
    ul li a {
        padding: .6rem 1.5rem;
        border: none;
    }
}
#navWrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.4);
}



// .parent {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }

//HOTEL INFO
#cards {
    //new
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Padding around the grid */
    //end of new
    section {
        grid-template-areas: 
        "photo"
        "city" 
        "address"
        "phone";
        column-gap: 8px;
        row-gap: 3px;
        background-color: red;
        img {
            grid-area: photo;
            width: 100%;
            height: auto;
        }
        h2 {
            padding: 0;
            margin: .3rem 0 .3rem 0;
        }
        a{
            margin: 0 0 1rem 0;
        }
    }
} //end of cards parent

//next: I am pulling each photo, city, address, and phone number from a json data file with those four things together in a bracket, and there is 8 of them. Meaning, 8 differnt photos with differnet address and so forth. How can I edit the following JS code in order to put each of the grouping from the json data file inside is own div tag with a unique ID with in the section that the js code creates? The ID's should start with "hotel" then have a number after it going from 1 to 8. Here is my JS code: